{% set intvars = interfaces[ansible_hostname] %}
# /etc/network/interfaces template for spine switches ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback
  address {{ intvars.loopback }}/32

auto eth0
iface eth0 inet dhcp


{% for iface in intvars.neighbors %}
auto {{ iface }}
iface {{ iface }}
    address {{ intvars.neighbors[iface].ip }}

{% endfor %}
