{% set intvars = interfaces[ansible_hostname] -%}
{% set loopback_ip = intvars.loopback -%}
{% set int_numbered = intvars.int_numbered -%}
!
{% if intvars.int_unnumbered is defined -%}
{% for item in intvars.int_unnumbered -%}
interface {{ item }}
 no ipv6 nd suppress-ra
 ipv6 nd ra-interval 3
!
{% endfor -%}
{% endif -%}
!
!
!
router-id {{ loopback_ip }}
router bgp {{ intvars.asn }}
  bgp router-id {{ loopback_ip }}
  maximum-paths 64
  bgp bestpath as-path multipath-relax
  bgp bestpath compare-routerid
{% if int_numbered is defined -%}
{% for item in intvars.int_unnumbered -%}
  neighbor {{ item }} interface
  neighbor {{ item }} remote-as external
{% endfor -%}
{% endif -%}
!
